body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

main {
    padding-top: 6em;
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    margin-top: 0.5em;
}

h2 {
    font-size: 2rem;
    line-height: 1.2em;
    color: #7a7a7a;
}

.component {
    position: relative;
}

.component--navbar {
    height: 40px;
}

@keyframes show {
    from {
        opacity: 0;
    }
    30% {
        opacity: 0.7;
    }
    to {
        opacity: 1;
    }
}

.component:hover::before,
.component:hover::after {
    animation: show 200ms forwards;
}

.component:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: 2px solid red;
}

.component:hover::after {
    content: attr(data-component-meta);
    font-size: 0.9em;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;

    background: red;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}

.github__logo {
    height: 40px;
    vertical-align: middle;
    margin-right: 4px;
    margin-bottom: 8px;
}

.github__label {
    font-weight: bold;
}

.main {
    display: flex;
    flex-wrap: wrap-reverse;
}

.main__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5em;
}

.main__image-container {
    flex: 2 0 400px;
    position: relative;
    margin-left: 5em;
    margin-right: calc(-10vw - 30px);
    margin-top: -15em;
    z-index: -1;
}

.main__image {
    width: 100%;
    height: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.button {
    width: 230px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    cursor: pointer;

    font-size: 1.5em;

    border-radius: 8px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.3);

    text-decoration: none;
    outline: none;
    border: 0;
}

.button--grey {
    background: #eee;
    color: #505050;
}

.button--color {
    background: linear-gradient(#d93c65, #5b41fc);
    color: white;
}