.component {
    position: relative;
}

.component--navbar {
    height: 40px;
}

.component:hover::before,
.component:hover::after {
    animation: show 200ms forwards;
}

.component:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: 2px solid red;
}

.component:hover::after {
    content: attr(data-component-meta);
    font-size: 0.9em;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;

    background: red;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}
