.component {
    position: relative;
}

.component--navbar {
    height: 40px;
}

.component:hover::before,
.component:hover::after {
    animation: show 200ms forwards;
}

.component:hover::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;

    border: 2px solid red;
    border-radius: inherit;
}

.component:hover::after {
    content: attr(data-component-meta);
    font-size: 0.9em;
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    white-space: nowrap;

    background: red;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}

.component__presentation {
    margin: 14em auto;
    display: flex;
    flex-flow: row wrap;
}

.component__presentation--reverse {
    flex-direction: row-reverse;
}

.component__container {
    flex: 1;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6rem;
}

.component--main {
    min-width: 470px;

    max-width: 650px;

    box-shadow: 0 10px 30px -6px rgba(0, 0, 0, 0.3);
}

.component__description {
    flex: 1;
    position: relative;
}
.component__description p {
    text-align: center;
    line-height: 1.5em;
    font-size: 1.5em;
    color: #444;
    padding: 0 1rem;
}

.component__technology-icon {
    display: inline-block;
    margin: 0.5em auto;
    max-width: 100px;
    max-height: 100px;
}