.subheader {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 8em;
}

.subheader > * {
    flex: 1;
}

.subheader p {
    font-size: 1.2em;
    color: #383838;
    padding-right: 2em;
}

.subheader img {
    margin-left: 2em;
}